

.header {
    height: 795px;
    background: #141414;
    padding-top: 33px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__img {
    width: 678px;
    height: 762px;
    border-radius: 30px;
}

.header__info-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 183px;
}

.header__info-title span {
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: italic;
    font-weight: 600;
}

.header__info-descr {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.header__info-btn {
    margin-top: 24px;
}

.header__info-btn a {
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.info-btn {
    border-radius: 100px;
    background: #FFF;
    height: 42px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.info-btn img {
    margin-left: 9px;
}

.header__info-phone, .header__info-address {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.header__info-phone a {
    color: #FFF;
}

.header__info-wrapper {
    position: absolute;
    bottom: 24px;
    right: 0;
    text-align: right;
}

.header__info-phone img, .header__info-address img {
    margin-right: 8px;
}

.about {
    height: 623px;
    background: #141414;
    padding-top: 48px;
}

.about .container {
    padding-right: 0;
}

.about__title {
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.about__title span {
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
}

.about__descr {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about__descr span {
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

span.und {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.about__wrapper {
    margin-top: 48px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}

.about__bio-title {
    color: #141414;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about__bio-descr {
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
}

.about__bio-descr span {
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: italic;
}

.about__bio {
    width: 701px;
    height: 375px;
    border-radius: 20px;
    background: #F8F9FB;
    padding-top: 24px;
    padding-left: 32px;
    position: relative;
    display: flex;
}

.about__bio-wrapper {
    z-index: 1;
}

.about__img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    border-radius: 0 20px 20px 0;
}

.about__btn {
    position: absolute;
    z-index: 2;
    bottom: 22px;
    right: 71px;
}


.fixedBlock {
    position: fixed;
    top: 30px;
    z-index: 100;
    border-radius: 100px;
    height: 60px;
    backdrop-filter: blur(10px);
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(136, 136, 136, 0.55);
}


.fixed__languages {
    display: flex;
}

.fixed__languages-mobile {
    display: none;
}

.fixed__languages-elem {
    border-radius: 100px;
    background: #F6F6F6;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.fixed__languages-elem:hover {
    background: #E9E9E9;
}

.fixed__languages-elem:not(:last-child) {
    margin-right: 8px;
}

.fixed-wrapper {
    position: relative;
    width: auto;
    margin: 0 auto;
}

.fixed__navigation {
    display: flex;
}

.fixed__navigation-elem:not(:last-child) {
    margin-right: 24px;
}

.fixed__contacts {
    display: flex;
}

.fixed__contacts-btn {
    height: 38px;
    width: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: #F6F6F6;
}

.fixed__contacts-btn a {
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.fixed__contacts-icon:not(:nth-child(4)) {
    margin-right: 8px;
}

.fixed__contacts-icon {
    cursor: pointer;
}

.fixed__contacts-btn {
    margin-left: 24px;
    cursor: pointer;
}

.fixed__contacts-btn:hover {
    background: #E9E9E9;
}

.fixed__navigation-elem a {
    text-decoration: none;
    color: #F6F6F6;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.fixed__navigation-elem a:hover {
    text-decoration: underline;
}

.contacts {
    background: #141414;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    background: #F8F9FB;
    height: 517px;
    padding-top: 32px;
    padding-left: 56px;
    padding-right: 65px;
}

.contacts__info-title {
    color: #141414;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts__info-descr {
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.contacts__info-phone {
    cursor: pointer;
    color: #141414;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    text-decoration: underline;
}

.contacts__info-phone a {
    color: #141414;
}

.contacts__info-address {
    color: #141414;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.contacts__info-map {
    cursor: pointer;
    color: #141414;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 20px;
}

.contacts__info-icons {
    margin-top: 32px;
}

.contacts__info-navigation {
    margin-top: 53px;
    display: flex;
}

.contacts__info-elem:not(:last-child) {
    margin-right: 24px;
}

.contacts__icons-elem {
    border-radius: 16px;
    border: 1px solid #000;
    width: 88px;
    height: 87px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

.contacts__icons-elem a {
    text-decoration: none;
}

.contacts__icons-elem:hover {
    background: #E9E9E9;
}

.contacts__icons-elem:active {
    background: #141414;
}

.contacts__icons-elem:active .icon-svg, .contacts__icons-elem:active .contacts__icons-title{
    fill: #fff;
    color: #fff;
}


.contacts__icons-elem:not(:last-child) {
    margin-right: 8px;
}

.contacts__icons-title {
    color: #141414;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contacts__info-iconsMobile {
    display: none;
}

.contacts__info-iconsMobile a {
    text-decoration: none;
}

.contacts__info-icons {
    display: flex;
}


.contacts__info-elem a {
    text-decoration: none;
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contacts__info-elem a:hover {
    text-decoration: underline;
}

.price {
    background: #141414;
    padding-top: 46px;
}

.price__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.price__section-title span {
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    margin-left: 32px;
}

.divider {
    width: 2px;
    background: #FFF;
}

.divider-hor {
    width: 622px;
    height: 2px;
    background: #FFF;
    margin-top: 12px;
}

.price__section-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.price__section {
    margin-bottom: 20px;
    width: 622px;
}

.price__section h2 {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.price__section {
    margin-bottom: 20px;
}

.price__section h2 {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.price__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

td {
    padding: 10px 0; /* Add padding to create space inside cells */
    border-bottom: 1px solid #444;
}

td:first-child {
    width: 60%;
    text-align: left; /* Align text to the left */
    padding-left: 30px; /* Increase padding on the left */
}

td:last-child {
    width: 27%;
    text-align: left; /* Align text to the right */
    padding-right: 30px; /* Increase padding on the right */
}

.men-price td:last-child {
    width: 40%;
    text-align: left; /* Align text to the right */
    padding-right: 30px; /* Increase padding on the right */
}


.price__img {
    right: 0;
    position: absolute;
    bottom: 0;
    border-radius: 0 20px 20px 0;
}

.price .container {
    position: relative;
}

.portfolio {
    background: #141414;
    padding-top: 62px;
    padding-bottom: 65px;
}

.arrow-mobile {
    display: none;
}

.porftolio__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.portfolio__categories {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.portfolio__categories-elem {
    border-radius: 100px;
    border: 1px solid #FFF;
    height: 44px;
    padding: 0 20px 0 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.language-active {
    background: rgba(20, 20, 20, 0.70);
    color: #FFF;
}

.category-active {
    border: 1px solid #FFF;
    background: #FFF;
    color: #141414;
}

.portfolio__wrapper {
    height: 400px;
    margin-top: 24px;
    position: relative;
    padding-left: 65px;
    padding-right: 65px;
}

.slide-bio {
    border-radius: 20px;
    background: #FFF;
    height: 400px;
    width: 916px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 32px;
    flex: 0 0 916px;
}

.slide-bio-mobile {
    display: none;
}

.bio-title {
    color: #141414;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.bio-descr {
    color: #141414;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 16px;
    line-height: normal;
    white-space: normal;
    overflow: visible;
}

.prev-btn, .prev-btn-review {
    top: 50%;
    position: absolute;
    z-index: 1000;
    transform: translateY(-50%);
    left: 0;
}

.next-btn, .next-btn-review {
    top: 50%;
    position: absolute;
    z-index: 1000;
    transform: translateY(-50%);
    right: 0;
}

.portfolio-block {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.portfolio-block::-webkit-scrollbar {
    display: none;
}

.portfolio-slide {
    height: 400px;
    border-radius: 20px;
    margin-right: 8px;
}

.portfolio-slide img {
    border-radius: 20px;
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.dots, .dots-review {
    width: 42px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.dot, .dot-review {
    width: 6px;
    height: 6px;
    background: #C4C4C4;
    border-radius: 100%;
}

.dot-active, .dot-review-active {
    background: #FFF;
}

.portfolio-block {
    display: none;
}

.portfolio-block.active-block {
    display: flex;
}


.reviews {
    background: #141414;
    padding-bottom: 65px;
}

.reviews__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reviews__wrapper {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 32px;
}

.reviews__carousel {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.reviews__carousel::-webkit-scrollbar  {
    display: none;
}

.reviews-slide img {
    border-radius: 30px;
}

.reviews-slide {
    position: relative;
    margin-right: 8px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        height: auto;
        padding-top: 0;
    }

    .header__info-phone img {
        width: 12px;
        height: 12px;
    }

    .header__info-address img {
        width: 10px;
        height: 12.681px;
    }

    .header__info-phone, .header__info-address {
        font-size: 12px;
    }

    
    .header__wrapper {
        flex-direction: column;
        padding-bottom: 85px;
    }

    .header__img {
        width: 100%;
        height: auto;
        position: relative;
        left: 50%; /* Сдвигаем блок вправо на 50% */
        right: 50%; /* Сдвигаем блок влево на 50% */
        margin-left: -50vw; /* Сдвигаем блок влево на половину ширины экрана */
        margin-right: -50vw; /* Сдвигаем блок вправо на половину ширины экрана */
        width: 100vw;
    }

    .header__info-title {
        margin-top: 18px;
        font-size: 32px;
    }

    .header__info-title span {
        font-size: 32px;
    }

    .responsive-br {
        display: none;
    }

    .header__info-descr {
        margin-top: 8px;
    }

    .header__info-btn {
        margin-top: 20px;
    }

    .about {
        height: auto;
        padding-top: 0;
    }

    .about__wrapper {
        flex-direction: column;
        margin-top: 8px;
    }

    .about__title {
        font-size: 24px;
    }

    .about__title span {
        font-size: 24px;
    }

    .about .container {
        padding-right: 30px;
    }

    .about__bio {
        margin-top: 24px;
        margin-right: -30px;
        width: calc(100% + 30px);
        border-radius: 20px 0 0 20px;
        padding-top: 16px;
        padding-left: 27px;
        padding-bottom: 16px;
        height: auto;
        overflow: hidden;
    }

    .about__bio-title {
        font-size: 20px;
    }

    .about__bio-descr {
        font-size: 12px;
    }

    .about__bio-descr span {
        font-size: 13px;
    }

    .about__img {
        height: 100%;
        width: auto;
        max-width: 50%;
        object-fit: cover;
    }

    .about__btn {
        width: 150px;
        height: 38px;
        right: 13px;
        bottom: 19px;
    }

    .price {
        padding-top: 24px;
    }

    .mobile-br {
        display: none;
    }

    .price__title {
        font-size: 24px;
    }

    .price__wrapper {
        flex-direction: column;
    }

    .price__wrapper {
        margin-top: 19px;
        align-items: end;
    }

    .price__section {
        width: 100%;
        margin-bottom: 24px;
    }

    .divider {
        display: none;
    }

    .divider-hor {
        width: 100%;
        height: 1px;
    }

    .price__section-title {
        font-size: 13px;
    }

    .price__section-title span {
        font-size: 14px;
    }

    .price__table {
        font-size: 12px;
    }

    td {
        padding-bottom: 2px;
        padding-top: 5px;
        border-color: #FFF;
    }

    td:first-child {
        width: 47%;
        padding-left: 15px;
    }

    td:last-child {
        width: 22%;
        padding-right: 0;
    }

    .men-price td:last-child {
        padding-right: 0;
    }

    
    .price__section-title span {
        margin-left: 29px;
    }

    .mobile-br {
        display: block;
    }

    .price__img {
        margin-right: -30px;
        width: calc(100% + 30px);
        position: static;
        border-radius: 20px 0 0 20px;
    }

    .arrow-mobile {
        display: block;
        margin-left: 2px;
        margin-top: 2px;
    }

    .porftolio__title {
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .slide-bio {
        display: none;
    }


    .bio-mobile-title {
        color: #141414;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .bio-mobile-descr {
        color: #141414;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        white-space: normal; /* Позволяет тексту переноситься на новую строку */
        overflow: visible;
        margin-top: 8px;
    }
    

    .portfolio__categories {
        overflow-x: auto;
        white-space: nowrap;
        max-width: 100%;
        margin-top: 19px;
    }

    .portfolio__categories::-webkit-scrollbar {
        display: none;
    }

    .portfolio__categories-elem {
        padding: 0 16px;
        font-size: 12px;
        height: 31px;
        margin-right: 8px;
    }

    .prev-btn, .next-btn, .prev-btn-review, .next-btn-review {
        display: none;
    }

    .portfolio__wrapper {
        padding: 0;
        height: auto;
    }

    .portfolio-block {
        overflow-x: auto;
        white-space: nowrap;
        max-width: 100%;
    }

    .portfolio-block::-webkit-scrollbar {
        display: none;
    }

    .portfolio-slide {
        height: auto;
    }


    .portfolio-slide img {
        height: 278px;
        width: 209px;
    }

    img.bio-mobile-img {
        width: 163px;
        height: 150px;
        position: absolute;
        right: 20px;
        bottom: 0;
    }

    .slide-bio-mobile {
        position: relative;
        display: block;
        border-radius: 20px;
        background: #FFF;
        width: 305px;
        height: 100%;
        padding: 23px 20px 22px 20px;
        width: 305px;
        height: 278px;
        flex: 0 0 305px;
    }

        /* .portfolio__wrapper, .portfolio-bio, .slide-bio-mobile, .portfolio-slide {
            min-height: 300px; 
        } */

    .reviews__title {
        font-size: 24px;
    }

    .reviews__title {
        display: flex;
        align-items: center;
    }

    .reviews__wrapper {
        padding: 0;
    }

    .reviews__carousel {
        overflow-x: auto;
        white-space: nowrap;
        max-width: 100%;
    }

    .reviews__carousel::-webkit-scrollbar  {
        display: none;
    }

    .contacts__wrapper {
        flex-direction: column;
        height: auto;
        padding: 16px 0 0 0;
    }

    .contacts__info-title {
        font-size: 24px;
    }

    .contacts__info-descr {
        font-size: 13px;
        margin-top: 8px;
    }

    .contacts__info-phone {
        font-size: 16px;
        margin-top: 24px;
    }


    .contacts__info-address {
        font-size: 16px;
        margin-top: 8px;
    }

    .contacts__info-map {
        display: none;
    }

    .contacts__info-icons {
        display: none;
    }

    .contacts__info-navigation {
        display: none;
    }

    .contacts__icons-elemMobile {
        border-radius: 100px;
        border: 1px solid #000;
        background: #FFF;
        width: 314px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 22px;
        padding-right: 28px;
        margin-bottom: 11px;
    }

    .contacts__icons-titleMobile {
        color: #141414;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 2px;
    }

    .mobile-icon {
        margin-right: 6px;
    }

    .contacts .container {
        padding-left: 0;
        padding-right: 0;
    }


    .contacts__info-iconsMobile {
        margin-top: 24px;
        display: block;
    }

    .icon__wrapper {
        display: flex;
    }

    .contacts__info-wrapper {
        padding-left: 37px;
    }

    .contacts__map {
        margin: 0 auto;
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .google-map {
        width: 95%;
        height: 200px;
    }

    .fixed__navigation {
        display: none;
    }

    .fixed__contacts-icon {
        display: none;
    }

    .fixedBlock {
        height: 54px;
        top: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .fixed__languages-elem {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .reviews-slide {
        margin-right: 8px;
    }

    .fixed__languages {
        display: none;
    }

    .fixed__languages-mobile {
        position: relative;
        display: inline-block;
    }


    .fixed__languages-elem-mobile {
        border-radius: 100px;
        background: #F6F6F6;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #141414;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin-right: 0;
    }

    .fixed__languages-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: white; /* Цвет фона меню */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Тень для меню */
        border-radius: 5px; /* Радиус скругления углов */
        z-index: 1000; /* Чтобы меню было поверх других элементов */
    }
    
    .fixed__languages-mobile.expanded .fixed__languages-menu {
        display: block;
    }

    



}








